html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, input, button, textarea, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}body {line-height: 1;}ol, ul {list-style: none;}blockquote, q {quotes: none;}blockquote:before, blockquote:after, q:before, q:after {content: '';content: none;}table {border-collapse: collapse;border-spacing: 0;}
html {background: rgb(245,244,242);}body {width: 960px;padding: 60px 0 70px;margin: 0 auto;color: rgb(40,40,40);font: 16px/32px ff-enzo-web, Helvetica, Artial, sans-serif;}h1 {font-family: gnuolane, sans-serif;font-weight: 200;color: rgb(8,87,154);font-size: 2em;margin-bottom: 1em;}footer {margin-top: 4em;text-align: center;font-size: 0.75em;color: rgb(187,187,187);}
button {padding: 0em 3.5em;border: 1px solid #999;margin-top: 2em;background: #ddd;cursor: pointer;}

.dnd {
  .dnd-dropzone {
    span {
      display: none;
    }
  }

  .dnd-filelist {
    list-style-type: disc;
    list-style-position: inside;

    .dnd-file {
      position: absolute;
      left: -9999px;
    }

    .dnd-remove {
      display: inline-block;
      margin-left: 0.75em;
    }
  }
}

.dnd-dragenabled {
  .dnd-dropzone {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    padding: 1px 0;

    .dnd-file {
      position: absolute;
      z-index: 999;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      cursor: pointer;
    }
    span {
      display: block;
    }

    &.active {
      background-color: #fff;
      padding: 0;
      border: 1px dashed #999;

      span {
        opacity: 0;
      }
    }
  }
}
